@model TrainingProject.ViewModels.Test.TestViewModel
@{
    ViewBag.Title = "Test";
}

<p><br /><br /><br /></p>
<div class="">
    <div class="panel panel-info" id="pSo">
        <div class="panel-heading">
            <span id="SpanExpander" class="pull-left clickable">
                <i id="ILabel" class="glyphicon glyphicon-chevron-up" style="font-size:large;"></i>
            </span><b class="collapse-link"> Test</b>
        </div>
        <div class="panel-body" style="display: block;">
            <form class="" action="/Test/Test" method="post">
                <div class="form-group">
                    <label class="control-label col-md-3">First Name</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" id="FirstName" name="FirstName" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-3">Last Name</label>
                    <div class="col-md-7 col-sm-7 col-xs-12">
                        <input class="form-control" id="LastName" name="LastName" />
                    </div>
                </div>
                <button type="submit">Save</button>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">


</script>


