@model TrainingProject.Models.MailManager.MailData

@{
    ViewBag.Title = "Details";
    Layout = null;
}


<p>
    [Note : This is system generated mail. Please do not reply to <a href='mailto:Inspection.India@Ksb.com'>TrainingProject@ksb.com</a>.Please reply to  @Model.ReplyBackTo  ]
</p>

